@import '../../../styles/settings.scss';

.title {
  position: relative;
  font-size: ($base-size * 3);
  margin: ($base-size * 2) 0 ($base-size * 6);
  background-color: $color-background;
  color: $color-dark;
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
}
